/*Primer Nivel: Layout*/
html{
    width:1260px;
}
body{
    width:100%;  /*de referencia el html 1260px*/
    background-color:tomato;
    padding-top:3.58%;
    margin:0 auto;
}
main{
    background-color: blue;
    overflow: hidden;
}
/*--------------Elementos del layut----------------*/
/*Elementos de la caja izquierda*/
.cuadro1{
    background-color:antiquewhite;
    margin-left:20px;
    width:61.904%; /*De referencia 1260px, pero usamos el 780 porque le quitamos el padding de 10px por lado*/
    height:370px; /*370px= 400px - 30px de padding-top*/
    float:left;
    padding-top:2.38%; /*de referencia ponemos el 1260px */
    padding-left:0.7936%; /*De referencia 1260px del html*/
    padding-right:0.7936%;
}
.texto{
    font-size:12px;
}
/* Elementos del formulario */
form {
    margin-top:30px;
    padding-left:8.75%;
    padding-top: 1em; /* Utilizando el tamaño base de la fuente */
    padding-bottom: 1em;
  }
  
  /* Input de tipo texto */
  input[type="text"] {
    width:62.5%; /*De referencia el 800px del form*/
    padding-left:2%; /*De referencia el 500px del input type text*/
  }
  
  /* Botón de enviar */
  button[type="submit"] {
    width:18.75%; /*De referencia el 800px del form*/
    height: 2em; /* El doble del tamaño de la fuente base del contenedor */
    background-color: #D8D8D8;
  }
/*Elementos de la caja derecha*/ 
.cuadro2{
    background-color:antiquewhite;
    margin-right:1.587%; /*De referencia el 1260px del html*/
    margin-left:1.587%;
    width:29.365%; /*De referencia el 1260px de html, eran 370 px*/
    height:350px; /*350px= 400px - 50px de padding-top*/
    padding-top:3.9682%;
    padding-left:2.38%; /*De referencia el html 1260px*/
    float:right;
}
.imagen{
    width:40.54%; /*Usamos de referencia los 370 px de ancho del cuadro 2*/
    height: 150px;
}
/*Elementos del footer*/
footer{
    clear:both;
    width:100%;
    height:100px;
    background-color: antiquewhite;
}
