/*Primer Nivel: Layout*/
html{
    width:1260px;
}
body{
    width:1260px;  
    background-color:tomato;
    padding-top:45px;
    margin:0 auto;
}
main{
    background-color: blue;
    overflow: hidden;
}
/*--------------Elementos del layut----------------*/
/*Elementos de la caja izquierda*/
.cuadro1{
    background-color:antiquewhite;
    margin-left:20px;
    width:780px; /*780px= 800px - 10px padding-left - 10px padding-right*/
    height:370px; /*370px= 400px - 30px de padding-top*/
    float:left;
    padding-top: 30px;
    padding-left:10px;
    padding-right:10px;
}
.texto{
    font-size:12px;
}
/* Elementos del formulario */
form {
    margin-top:30px;
    padding-left: 70px;
    padding-top: 1em; /* Utilizando el tamaño base de la fuente */
    padding-bottom: 1em;
  }
  
  /* Input de tipo texto */
  input[type="text"] {
    width: 500px;
    padding-left: 10px;
  }
  
  /* Botón de enviar */
  button[type="submit"] {
    width: 150px;
    height: 2em; /* El doble del tamaño de la fuente base del contenedor */
    background-color: #D8D8D8;
  }
/*Elementos de la caja derecha*/ 
.cuadro2{
    background-color:antiquewhite;
    margin-right:20px;
    margin-left:20px;
    width:370px; /*370px=400px -30px de padding-left*/
    height:350px; /*350px= 400px - 50px de padding-top*/
    padding-top:50px;
    padding-left:30px;
    float:right;
}
.imagen{
    width:150px;
    height: 150px;
}
/*Elementos del footer*/
footer{
    clear:both;
    width:1260px;
    height:100px;
    background-color: antiquewhite;
}
